  body {
    background-color: #ffffff;
  }

  nav{
    position: fixed;
    width: 100%;
    height: 50px;
    top:0px;
    background-size: cover;
    background-color: #4c5760;
  }

  .boxes{
    color: #ffffff;
    /* background-color: #4c5760; */
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  #home {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  #about {
    padding-right: 100px;
  }

  #brigadeiro {
    padding-right: 100px;
  }
  
  #tapioca {
    padding-right: 100px;
  }
  #pudim {
    padding-left: 100px;
  }